{% extends 'layout.html' %}

{% block content %}
    <h2>{{titulo}}</h2>
    <ul>
        <li>
            <p>
                Nombre del Estudiante 01: {{estudiante1}}
            </p>
            <p>
                Github: {{github1}}
            </p>
        </li>

        <li>
            <p>
                Nombre del Estudiante 02: {{estudiante2}}
            </p>
            <p>
                Github: {{github2}}
            </p>
        </li>

        <li>
            <p>
                Nombre del Estudiante 03: {{estudiante3}}
            </p>
            <p>
                Github: {{github3}}
            </p>
        </li>
        <li>
            <p>
                Nombre del Estudiante 04: {{estudiante4}}
            </p>
            <p>
                Github: {{github4}}
            </p>
        </li>
    </ul>
{% endblock content %}